<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Вход</title>
        <link rel="stylesheet" href="CSS/style.css">
        <link rel="import" href="shapka.html">
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    
    </head>
<body style="background-image: url(img/wIqPcWTvFRos.jpg); background-repeat: no-repeat;"> 
    <div style="width: 100%; display: flex; justify-content: center; margin-top: 10%;">
        <div style="padding: 32px; background-color: #131317; border-radius: 32px;">
            <div style="display: flex; justify-content: center;">
<!-- <svg style="    fill: white; width:10px;" class="arrow-left-1" viewbox="0 0 60 100"><path d="M 50,0 L 60,10 L 20,50 L 60,90 L 50,100 L 0,50 Z"/></svg> -->
                <h3 style="color: white;">Вход</h3>
            </div>
    <form action="" method="post" enctype="multipart/form-data" style="text-align: center;">
        <input type="text" class="form-control" name="login" id="login" placeholder="Логин" required> <br>
        <input type="password" class="form-control" name="password" placeholder="Пароль" required><br>
        <input type="submit" class="form-control" name="sub" value="Войти"> 
        <div style="border-radius: 32px;
        border: solid; margin-top: 8px;">
        <a href="/registr" class="style_a">
        <span style="color: white;">Зарегистрироваться</span></a>
    </div>
    <a class="style_a"  href="/index">Вернуться на главную</a>
    </form>
    </div>
</div>
</body>
</html>