<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    ss
</body>
</html>
<script>
    // const fs = require('fs');
    // const express= require('express');
    //  const login = req.body.login;
    //  const mail = req.body.mail;
    //  const password = req.body.password;
    //  const password_2=req.body.password_2;
    //  console.log(login);
</script>