<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="CSS/style.css">
        <link rel="import" href="shapka.html">
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        
    
    </head>
<body>
    <div class="header-backgraund" id="header-backgraund">
        <header class="header wrapper container">
            <div class="header__nav">
                
                <div class="home">
                    <div class="homes"><a href="/index" class="home">Название сайта</a></div>
                <span class="spheader">
                    <ul>
                        <li><a href="#">Главная</a></li>
                        <li><a href="#">Фильмы</a></li>
                        <li><a href="#">Сериалы</a></li>
                    </ul>
                </span>
                </div>
                <a>Онлайн кинотеатр</a>
                
                <div class="poisk">
                    <input type="text" placeholder="Поиск" style="text-align: center;" class="spisok">
    <div class="containerspisok">
                    <article>
                        <a>Тест</a>
                        <a>Пример</a>
                    </article>
                </div>
                    <ul class="vibor">
                        <li>Тест</li>
                        <li>Пример</li>
                        <li>Пример</li>
                        <li>Пример</li>
                        <li>Пример</li>
                        <li>Пример</li>
                        <li>Пример</li>
                        <li>Пример</li>
                        <li>Пример</li>
                    </ul>
                    </div>
                    <a href="/auth">Войти</a>
        <!-- <div class="backgraund"> -->
    
        </header>
    </div>
    </div>
            <div>
               
            </div>
        </div>

        <div style="border-bottom: 1px solid hsla(0,0%,87%,.4);    width: 100%;
        max-width: 960px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 10px;
        padding-left: 10px;">
    <div style="display: flex;
-webkit-box-sizing: border-box;
box-sizing: border-box;
margin-right: -10px;
margin-left: -10px;">
<div style="    padding: 40px 0 60px;"><img style="display: block;
    overflow: hidden;
    width: 100%;
    min-width: 100%;
    min-height: 320px;
    white-space: nowrap;
    text-indent: 100%;
    -o-object-fit: cover;
    object-fit: cover;" src="img/Sukuna Icon 450.jpg"></div>
    <div style="flex: 0 0 30px;
    width: 30px;"></div>
<div style="min-width: 0;     display: block;
padding-right: 9px;
padding-left: 9px;      flex: 0 0 680px;
    width: 680px;"><div style="    display: flex;
    ;">
    <!-- min-height: 100% -->
    <div style="  padding: 40px 0 60px;      position: relative;
    display: flex;
    flex-direction: column;">
    <div>
        <div style="display: block;
        padding-right: 9px;
        padding-left: 9px;    flex: 0 0 440px;
    width: 440px;">
    <div style="margin-bottom: 48px;">
        <h1 style="margin-top: 0;
        margin-bottom: 12px;">Название(Год)</h1>
    </div>
    <div style="    position: relative;
    width: 200px;"><button style="    min-width: 3.2rem;
min-height: 3.2rem;
padding-block: 0.8rem;
padding-inline: 1.6rem;
font-size: 1.3rem;
line-height: 1.6rem; position: relative;
display: flex;
justify-content: center;
align-items: center;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: inherit;
font-weight: 600;
font-style: normal;
cursor: pointer;
text-decoration: none;
border: none;
border-radius: 5.2rem;
outline: none;">Буду смотреть</button></div>
        </div>
        
    </div>
    
    </div>
     <!--  -->
    <div style="padding: 40px 0 60px;    flex: 0 0 240px;
width: 240px;    
"><div style="padding-left: 20px;     display: flex;
    flex-direction: column;">
    <div>
        <div style="display: flex;
        align-items: baseline;">
        <span style="    font-size: 32px;
        font-weight: 700;">Оценка</span>    
    </div>
    <div style="    display: flex;">
    <span>Количество оценок</span>
    </div>
    </div>
    </div>
    <div style="display: flex;
    flex-direction: row;
    margin-top: 12px;">
        <div style="    position: relative;
        width: 200px;"><button style="    min-width: 3.2rem;
    min-height: 3.2rem;
    padding-block: 0.8rem;
    padding-inline: 1.6rem;
    font-size: 1.3rem;
    line-height: 1.6rem; position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: inherit;
    font-weight: 600;
    font-style: normal;
    cursor: pointer;
    text-decoration: none;
    border: none;
    border-radius: 5.2rem;
    outline: none;">Оценить тайтл</button></div>
</div>
</div>
    </div>
    <div style="    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;margin-right: -10px;
margin-left: -10px;">
        <div style="    display: block;
        padding-right: 9px;
        padding-left: 9px;">
        <h3>О тайтле</h3>
        <div class="styles_row__da_RK">
            <div class="styles_titleDark___tfMR styles_title__b1HVo">Год производства</div>
            <div>№</div>
        </div>
        <div class="styles_row__da_RK">
            <div class="styles_titleDark___tfMR styles_title__b1HVo">Страна</div>
            <div>№</div>
        </div>
        <div class="styles_row__da_RK">
            <div class="styles_titleDark___tfMR styles_title__b1HVo">Жанр</div>
            <div>№</div>
</div>
    <div class="styles_row__da_RK">
            <div class="styles_titleDark___tfMR styles_title__b1HVo">Режиссер</div>
            <div>№</div>

    </div>
    <div class="styles_row__da_RK">
        <div class="styles_titleDark___tfMR styles_title__b1HVo">Сценарий</div>
        <div>№</div>
    
        </div>

        <div class="styles_row__da_RK">
            <div class="styles_titleDark___tfMR styles_title__b1HVo">Продюсер</div>
            <div>№</div>

        </div>

        <div class="styles_row__da_RK">
            <div class="styles_titleDark___tfMR styles_title__b1HVo">Оператор</div>
            <div>№</div>
        </div>

            <div class="styles_row__da_RK">
                <div class="styles_titleDark___tfMR styles_title__b1HVo">Бюджет</div>
                <div>№</div>
        </div>

        <div class="styles_row__da_RK">
            <div class="styles_titleDark___tfMR styles_title__b1HVo">Рейтинг</div>
            <div>№</div>

        </div>


        <div class="styles_row__da_RK">
            <div class="styles_titleDark___tfMR styles_title__b1HVo">Рейтинг MPAA</div>
            <div>№</div>

        </div>

        <div class="styles_row__da_RK">
            <div class="styles_titleDark___tfMR styles_title__b1HVo">Возраст</div>
            <div>№</div>

        </div>

        <div class="styles_row__da_RK">
            <div class="styles_titleDark___tfMR styles_title__b1HVo">Время</div>
            <div>№</div>

        </div>


        </div>
        <div style="    flex: 0 0 240px;
        width: 240px;">
        <div>
            <div style="    margin-bottom: 24px;">
                <h3 style="    margin-bottom: 15px;">В главных ролях</h3>
                <ul style="margin-top: 0;
                margin-bottom: 12px;
                padding-left: 0;     list-style: none;
    line-height: 15px;">
                <li style="margin-bottom: 7px;">
                    Пример
                </li>
                <li style="margin-bottom: 7px;">
                    Пример
                </li>
                <li style="margin-bottom: 7px;">
                    Пример
                </li>
                </ul>
            </div>
        </div>
        </div>
        </div>
    </div>
</div>
    </div>
        </div>
        <div style="    border-bottom: 1px solid hsla(0,0%,87%,.4); margin-bottom: 40px; box-sizing: border-box;
        width: 100%;
        max-width: 960px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 10px;
        padding-left: 10px;">
            <div style="    font-family: Graphik Kinopoisk LC Web,Tahoma,Arial,Verdana,sans-serif;
            font-size: 16px;
            line-height: 1.38;
            color: #000;">

            <p>Информация о тайтле</p>
            </div>
            <div style="margin-bottom: 12px;">
                <h3>Рейтинг тайтла</h3>
                <div>

                </div>
            </div>
        </div>
        <div>
            <h3>Отзывы</h3>
        </div>
</body>
</html>


<!-- width: 100%;
min-width: 100%;
min-height: 320px; -->